<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PayBox Test Suite">
  <test thread-count="5" name="Box Test Cases">
  	<parameter name = "browser" value = "chrome" />
  	<parameter name="folder_name" value="Boxer" />
    <classes>
      <class name="com.payBox.testCases.TC_AddFolderTest"/>
      <class name="com.payBox.testCases.TC_UploadTest"/>
      <class name="com.payBox.testCases.TC_LoginTest_DDT"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->   
